body {
    font-family: sans-serif;
}

header {
      background-color: #ADD8E6;
      border-radius: 10px;
}

header img{
         border-radius: 13px;
        padding: 10px;
 }



header a {
         color: azure;
         text-decoration:none;
 }         


header b {
         color:#b25cf8;

}

nav {
    background-color: #b986fb;
    height: 50px;
    
}
nav a{
    margin: 60px;
    color: aliceblue;
     text-decoration: none;
     font-size: 20px;
    
  }


  h1 {
     background-color: rgb(127, 219, 236);
     text-align: center;
     color: #fdfdfd;
     border-radius: 10px;
     padding: 10px;
  }


  footer{
       background-color: #eec784;
       color: #ffa255;
       padding: 10px;


  }
  footer p{
        padding: 10px;
        background-color: #fdfdfd ;
  }

 .lol{
   background-color: rgb(214, 253, 182);
   padding: 10px;


  }

  h2 {
     text-align: center;
      background-color: rgb(127, 219, 236);
     color: #fdfdfd;
     border-radius: 10px;
     padding: 10px;

  }
   
         
